* {margin :0;padding:0;box-sizing:0;font-family: 'Poppins', sans-serif;}
.header{
    width:100%;
    height:100vh;
    background-image :linear-gradient(rgba(83, 92, 43, 0.3),rgba(148, 180, 96, 0.3)) ,url('../images/lp.png');  
    background-repeat : no-repeat;
    background-size:100% 100%;
    clip-path:polygon(100% 0 ,100% 77%,50% 100%,0 75%,0 0);  /* shape edges*/
    position:relative;
    top: 0%;

    

}
.header::before{
    
    content :"";
    position: absolute;
    top :0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right, yellow 0%, #101615 0%,#111310 100%);
}
a{text-decoration: none;}
li{list-style: none;}
p{
    font-size:0.9rem;
    line-height:1.6;
    font-weight:400;
    color: #ffffffc7;
}
.extra-div h2{
    font-size:0.9rem;
    margin: 20px 0 15px 0;
    font-weight:bold;
    line-height: 1.1;
    word-spacing: 4px;

}
a:hover{text-decoration: none;}
.navbar:before{
    content :"";
    position: absolute;
    top :0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(to right, yellow 0%, #0f1312 0%,rgb(13, 16, 17) 100%);
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
    
}
.header-section{
    width:100%;
    height:inherit;
    color:white;
    text-align:center;
    position:relative;
}
.centre-div{
    width:100%;
    height:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius:100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size:1rem;
    font-weight:400;
    line-height:1.4;
    text-align: center;

}
.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
.header-extra-div{
    width:100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div{
    background: #ffffffc7
    border: medium none;
    padding : 50px!important;
    border-radius:3px;
    transition:0.3;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.area{
    background: #e5e7df;  
    background: -webkit-linear-gradient(to left, #1e240d, #0d1404);  
    width: 100%;
    height:100vh;
    position: fixed;
    z-index: -100;
    top: 0;

    

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(0 0 0 / 20%);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
